.card {
  background: #eff7ff;
  padding: 24px;
  border-radius: 24px;

  /* small screen default */
  width: auto;
  height: auto;
}

/* screens >= 768px (md breakpoint) */
@media (min-width: 390px) {
  .card {
    /* width: 310px;
        height: 300px; */
    width: 342px;
    height: 260px;
  }
}

/* screens >= 768px (md breakpoint) */
@media (min-width: 768px) {
  .card {
    width: 310px;
    height: 300px;
  }
}

/* screens >= 768px (md breakpoint) */
@media (min-width: 1024px) {
  .card {
    width: 290px;
    height: 300px;
  }
}

/* screens >= 768px (md breakpoint) */
@media (min-width: 1200px) {
  .card {
    width: 350px;
    height: 300px;
  }
}

@media (min-width: 1440px) {
  .card {
    width: 410px;
    height: 300px;
  }
}
